#simple-cart-icon {
  padding: 0;
  margin: 0;
  text-decoration: none;
  position: relative;
  width: 100%;
  height: 32px;
}
#simple-cart-icon span {
  background: url("images/cart.png") no-repeat;
  display: inline-block;
  height: 32px;
  text-indent: -9999px; 
  width: 32px;
}
#simple-cart-icon sup {
  color: #FFFFFF;
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 13px;
  padding: 0 4px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
}
