/*- Giordani styles v0.2 - Drupal6x - 20/06/08
author:singalkuppe: leoni.matteo[at]gmail.com - www.signalkuppe.com
*/
*{
  margin:0px;
  padding:0px;
  color:inherit;
  font:inherit;
  font-size:inherit;
  font-weight:inherit;
  text-transform:inherit;
  text-decoration:inherit;
  background:transparent;
  border:0px none;
  outline: 0px none;
}
body,a,a:link,a:hover,a:active {
  font: normal normal 400 12px 'Microsoft Sans Serif', 'Lucida Grande', 'Lucida Sans Unicode', helvetica, verdana, arial, sans-serif;
  line-height:15px;
  outline: 0px none;	
}
body {
  background:#2c6cb0;
  color:black;
}
.lightbox-processed {
  margin:0;
}
div{
  position:relative;
}
#header {
  position:relative;
  background:url(header.jpg) no-repeat scroll 0 0 #000033;
  height:220px;
}
#page {
  border:none;
  width:1205px;
  background:#2c6cb0;
}
.short {
  width:768px;
}
.wrapper {
  background:white;
  margin:0 0 0 8px;
}
.logo,.logo:hover {
  background:url(logo.jpg);
  width:113px;
  height:112px;
  display:block;
  margin:21px 36px 0 120px;
}
.contacts {
  color:white;
  font-size:16px;
  line-height:18px;	
  margin-top:18px;
  text-align:center;
}
.slogan {
  margin-top:16px;
  font-size:14px;
  text-align:center;
}
.logo-text {
  margin-top:24px;
  color:#0047B9;
  font-size:64px;
  line-height:64px;	
  text-align:center;
}
.logo-subtext {
  margin-top:8px;
  color:#0047B9;
  font-size:24px;
  text-align:center;
}
#plinks {
  position:absolute;
  bottom:0px;
  left:42px;
  height:28px;
  width:774px;
}
#plinks ul.links li {
  float:left;
  display:block;	
  width:111px;
  height:21px;
  margin-right:18px;
  padding:7px 0px 0px;
  text-align:center;
  background:url(menu.png);
}
#plinks ul.links li.active {
  background-position:0 -28px;
}
#plinks ul.links li a {
  color:white;
  font-size:15px;
  line-height:15px;
}
.header-right {
  position:absolute;
  right:0px;
  width:868px;
  height:208px;
}
.header-left {
  position:absolute;
  left:0px;
  width:336px;
  height:208px;
}
.block {
  background:#59626e;
  border:1px solid #9da3aa;
  border-top:0px none;
  margin-bottom:20px;
}
.blockcontent {
  background:white;
}
.blockcontent ul.nice-menu-right{
  width:185px;
  border:0px none;
}
.blockcontent ul.nice-menu-right li{
  background:url(left-menu.png) repeat-x #468cd5 !important;
  width:185px;
  border:0px none;	
  border-top:1px solid #9DA3AA;
}
.blockcontent ul.nice-menu-right li:hover,.blockcontent ul.nice-menu-right li.over{
  background:url(left-menu-active.png) repeat-x #083e76;
}
ul.nice-menu-right ul {
  border:1px solid #9DA3AA;
  border-top:0px none;
  left:185px;
  width:185px;
}
.blockcontent ul.nice-menu-right a {
  display:block;
  width: 160px;
  padding: 7px 15px 7px 4px;
  color:white;
  font-size:14px;
  line-height:14px;
}
.blockcontent ul.nice-menu-right li.menuparent>a{
  background:url(menu-arrow.png) no-repeat scroll transparent;
  background-position: right center;
}
.block h2 {
  color:white;
  font-size:14px;
  font-weight:normal;
  margin:0;
  padding:9px 4px 9px 12px!important;
  text-transform:none;
}
#block-block-6 a {
  background:url(exel.png) no-repeat;
  display:block;
  height:21px;
  width:136px;
  padding-left:30px;
  color:#0047b9;
  text-decoration:underline;
  line-height:21px;
}
ul.nice-menu li {
  background:url(left-menu.png) repeat-x #5790c9;
}
.metanode {
  display:none;
}
/*- Sidebar Subpages Menu */
.block .blockcontent,.loginblock .blockcontent {
  padding:0;
}
.lsidebar,#primary,.rsidebar{
  float:left;
  margin-top:15px;
  margin-left:15px;
}
.lsidebar {
  width:187px;
}
#primary{
  width:770px;
}
.rsidebar {
  width:180px;
}
#page #primary a:link,#page #primary a:visited,#page #primary a:hover {
  color:#2c6caf;
}
div.goods-category {
  border:1px solid #9DA3AA;
  text-align:right;
  float:left;
  width:373px;
  margin:5px;
}
div.goods-category-odd {
  clear:left;
}
div.goods-category-even {
  clear:none;
}
div.goods-category-content {
  height:84px;
  padding:15px 7px;
}
div.goods-category-img {
  float:left;
  width:80px;
  height:80px;
  padding:15px 8px;
}
div.goods-categories-even div.goods-category-img {
  padding-left:30px;
}
div.goods-category-title {
  height:50px;
  color: #59626E;
  font-size:15px !important;
  font-weight:bold !important;
}
div.goods-category-title a{
  display:block;
  font-size:inherit !important;
  font-weight:inherit !important;
  margin-bottom:6px;
}
div.goods-category-next-link a{
  text-decoration:underline;
}
.block .blockcontent {
  margin:0;
  padding:15px 10px;
}
.block-nice_menus .blockcontent {
  padding:0;
}
div.goods-container-recomended {
  text-align:center;
  background:#ffffff;
}
div.good-content-recomended {
  text-align:center;
  padding-bottom:80px;
}
div.good-content-demarched {
  text-align:center;
  padding:10px;
  background:#ffffff;
}
div.good {
  height:120px;

  padding:15px 7px;
  border:1px solid #d0d0d0;
}
div.good-content {
  font-size:12px;
  height:90px;	
}
div.good-content .good-desc{
  height:80px;
}
div.good-content .good-desc a{
  float:right;
  margin-right:50px;
}
div.good-img {
  float:left;
  width:80px;
  height:80px;
  padding:0 15px 10px 5px;
}
#primary div.good-title a{
  font-size:18px !important;
}
div.good-producer {
  font-size:9px;
  padding-bottom:10px;
}
div.good-next-link {
  padding-top:10px;
  font-weight:bold;
}
#primary div.good-add-to-cart {
  position:absolute;
  top:0px;
  right:0px;
  font-weight:bold;
}
div.good-separator {
  height:1px;
  padding-bottom:0;
}
a.good-cart-remove:link,a.good-cart-remove:visited{
  display:block;
  width:20px;
  height:20px;
  background:url("cart_remove.png") transparent;
  margin-left:20px;
}
.price {
}
.good-old-price {
  display:none;
}
.rsidebar #block-ws_cart-0 .blockcontent{
  text-align:center;
}
.lsidebar .good-new-price, .lsidebar .good-price,.rsidebar .good-new-price, .rsidebar .good-price,.rsidebar #block-ws_cart-0 .cart-proceed {
  /* background:url("price.png") repeat scroll 0 0 transparent; */

  background: #468dd6; /* Old browsers */
  background: -moz-linear-gradient(top,  #468dd6 0%, #2989d8 40%, #207cca 60%, #1e60a5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#468dd6), color-stop(40%,#2989d8), color-stop(60%,#207cca), color-stop(100%,#1e60a5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #468dd6 0%,#2989d8 40%,#207cca 60%,#1e60a5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #468dd6 0%,#2989d8 40%,#207cca 60%,#1e60a5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #468dd6 0%,#2989d8 40%,#207cca 60%,#1e60a5 100%); /* IE10+ */
  background: linear-gradient(top,  #468dd6 0%,#2989d8 40%,#207cca 60%,#1e60a5 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#468dd6', endColorstr='#1e60a5',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  border-top: solid 1px #84b3e4;
  border-left: solid 1px #3a75b4;
  border-right: solid 1px #3a75b4;
  border-bottom: solid 1px #123962;

  color:white;
  display:inline-block;
  font-size:16px;
  text-align:center;	
  line-height:20px;
  padding:6px;
  /* width:120px; */
}
.lsidebar .good-new-price a, .lsidebar .good-price a,.rsidebar .good-new-price a, .rsidebar .good-price a,.rsidebar #block-ws_cart-0 .cart-proceed a{
  color:white;
  font-size:16px;
  line-height:20px;
}
.lsidebar .good-title a,.rsidebar .good-title a{
  font-weight:bold;
}
#primary .good-price{
  clear:both;
  margin-left:10px;
  font-size:18px !important;
  color: #083f78;
}
#page #primary ul.links.inline{
  position:absolute;
  top:-35px;
  right:0px;
}
.block-ws_cart h2 {
  background: url("cart.png") no-repeat top right;
}
.block-ws_cart h2 a {
  color: white;
}
div.view-id-ws_editable_goods td {
  height:50px;
}
div.view-id-ws_editable_goods div.editablefields_clicktoedit_message {
  line-height:40%;
}
div.field-field-image {
  float:left;
}
div.news-img {
  float:left;
  padding-right:5px;
}
div.news-title {
  font-weight:bold;
  float:left;
  clear:left;
}
div.news-date{
  float:right;
  clear:none;
  font-size: 11px !important;
}
div.clearfix{
  height:0px;
  clear:both;
}
div.news-separator {
  height:20px;
}
div.news-next-link {
  font-weight:bold;
}
#views-exposed-form-ws-goods-search-default div.views-exposed-widget {
  width:95%;
}
.good-title a {
  color: black;
  font-size: 12px;
}
.menu-879 {
  background:none repeat scroll 0 0 transparent !important;
  position:absolute;
  right:10px;
  top:30px;
}
#primary .field-field-producer .field-items .field-item,#primary .field-field-specification .field-label,#primary #block-views-ws_good_photos-block_1 h2{
  font-size:17px !important;
  color: #083f78;
  margin-bottom:5px;
}
#primary a.good-single-add,
#primary a.good-single-remove{
  display:block;
  position: absolute;
  top:0px;
  right:0px;
  width:147px;
  height:24px;
  text-align:center;
  padding-right:20px;
  color:white !important;
  font-size:16px;
  line-height:16px;
  padding-top:7px;
  background-image:url("good_single_cart.png");
}
#primary a.good-single-remove{
  background-position: 0px 31px;
}
#primary .view-ws-good-photos .view-content{
  padding:5px;
}
#primary .view-ws-good-photos .view-content .views-field-field-images-fid{
  float:left;
  margin-right:5px;
}
#search {
  background: none repeat scroll 0 0 #59626E;
  border: none !important;
  margin-bottom: 20px;
}
#search input.form-submit {
  overflow:hidden;
  text-indent:60px;	
  background: url("search.png");
  border: none;
  width: 33px;
  height: 36px;
}
#search label {
  display: none;
}
#edit-search-theme-form-1-wrapper{
  display:block;
  float:left;
  background: white;
  height: 28px;
  margin:4px;
}
#edit-search-theme-form-1 {
  display:block;
  height: 24px;
  width: 130px;
  margin: 2px;
  border: none;
}
#footer {
  background:url("footer.png") repeat scroll 0 0 transparent;
  font-size:14px;
  font-weight:normal;
  height:18px;
  padding:25px 0;
  width:1205px;
}
#page #primary div.singlepage p, #page #primary div.singlepage div{
  font-size: inherit;
  font-weight: normal;
  font-family: inherit;
  line-height: inherit;
}
#page #primary div.singlepage p{
  margin-top:10px;
}
#page #primary div.singlepage h2,#page #primary div.singlepage h1{
  color: #083f78;/*043e8e*/
  font-size: 23px;
  line-height: 26px;	
  font-weight: normal;
  font-family:inherit;
  padding: 0px !important;
  margin: 0px !important;
}
#primary .block {
  background: none;
  border: none;
}
#primary .blockcontent {
  padding: 0;
}
#primary .news-title a{
  font-weight:bold;
  font-size:15px;
  line-height:18px;
}
#primary .news-title a:hover{
  text-decoration:underline;
}
#primary .form-item input, #primary .form-item select, #primary .form-item textarea,#primary table td.count input{
  background: url("field.png") repeat scroll top right rgba(255,255,255,0.1);
  border: 1px solid #005A8C;	
}

#primary .form-item input{
  height:16px;
  width: 298px;	
}
#primary .form-item #edit-field-price-value-min,#primary .form-item #edit-field-price-value-max{
  width:148px;
}
#primary .form-item select{
  height:18px;
  width:300px;
}
#primary .form-item textarea{
  width:498px;
  height:198px;
  resize: none;
}
#primary table, #primary table thead, #primary table tbody{
  border:0px none;
}
#primary table.sticky-table, #primary table.sticky-enabled{
  table-layout:fixed;
  border-collapse:collapse;
  border-spacing:0px;
  width:100%;
  margin-bottom:0px;
}
#primary table.sticky-table thead th, #primary table.sticky-enabled th{
  color: white;
  font-size:15px !important;
  background: #2c6caf;	
  line-height:18px;
  text-transform:none;
  text-align:center;
  border:0px none;
}
#primary table.sticky-table tbody tr{
  border:0px none;
}
#primary table.sticky-table tbody tr.odd,#primary table.order-table tbody tr.odd{
  background-color:#EEEEEE;
}
#primary table.sticky-table tbody tr.even,#primary table.order-table tbody tr.even{
  background-color:#DDDDDD;
}
#primary table.price-table{
  margin-bottom: 15px;
}
#primary table td.price,#primary table td.count,#primary table td.summ,#page
#primary table th.summ{
  text-align:right;
  padding-right:10px;
}
#primary table td.count input{
  margin:0px;
  width:100%;
  padding:0px 8px;
  text-align:right;
}
#primary table.order-table,#primary table#order-table-footer{
  margin:0px;
}
#primary table.order-table tr{
  border:0px none;
}
#primary table#order-table-footer tbody tr th{
  background: #59626E;
}
#primary table th.total-footer{
  text-align:left;
  padding-left:10px;
}
#primary form .form-submit, #page #primary a.process-order:link,#page #primary a.process-order:visited{
  display:block;
  padding:2px;
  background: #083f78;
  border: 2px outset #285f98;
  font-size: 13px;
  color:white;
  text-align:center;
}
#page #primary #edit-submit{
  height:28px;
  width:150px;
  margin-top:6px;
}
#page #primary p.search-info{
  display:none;
}
#page #primary .form-submit.edit-count{
  height:28px;
  position:absolute;
  right:220px;
  bottom:-35px;
}
#page #primary a.process-order{
  margin-top:10px;
  margin-top:10px;
  width:200px;
  height:20px;	
  position:absolute;
  right:0px;
  bottom:-35px;
}

.hidden {
  display:none;
}

