
/*

all styles were separated to speed up theme customization and maintenance

#### to customize your theme edit layout.css, graphic.css, typography.css and links.css  ###

*/

/* Left sidebar menu margin fix */
ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 15.45em; 
  top: -1px;
}

html, body {
    height: 100% !important;
}
.wrapper {
    height: 100% !important;
}
#page {
    min-height: 100%;
}
#footer-placeholder {
    height: 66px;
    width: 1205px;
}
#footer {
    bottom: 0px;
    margin-top: -66px;
}
#asdasdasd {
    height: 100% !important;
    min-height: 100px;
    width: 100%;
}