/*
 * Cart page styles
 */
.total_price_amount,
.total_price_label,
.node-type-subheader {
  font-weight: bold;
  text-transform: uppercase;
}
#simple-cart-cart-form .price,
#simple-cart-cart-form .total_price_amount {
  white-space: nowrap;
}
.node-type-subheader {
  padding-left: 20px;
}
.total_price_label {
  text-align: right;
}
/*
 *Node page styles
 */
.simple-cart-throbber {
  width: 16px;
  height: 16px;
  margin: 2px;
  background: transparent url(images/throbber-baby-blue.gif) no-repeat;
  padding: 2px 2px 2px 18px;
}

.simple-cart-button,
#cart-list-block li {
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  padding: 3px;
}
#cart-list-block li.hover {
  background: silver;
}
.simple-cart-button {
  background: #d5d5d5;
  border: 1px solid white;
  padding: 3px 10px;
}

/*
 * Module settings page
 */
.disabled {
  color: gray;
}